.bottonMarcar {
    background-color: blue;
    color: #fff;
    padding: 12px;
    font-size: 16px;
    border-radius: 7px;
    transition: .8s;
}

.bottonMarcar:hover { 
    background-color: rgba(63, 63, 240, 0.912);
}

.bottonCancelar {
    border: 1px solid rgba(255, 0, 0, 0.545);
    padding: 12px;
    font-size: 16px;
    border-radius: 7px;
    transition: .8s;
}

.bottonCancelar:hover {
    background-color: rgba(157, 41, 41, 0.37);
}