* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

body {
  height: 100vh;
  width: 100%;
  /* color: #fff; */
  background-color: #ecf0f1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

image {
  width: 100%;
}

/* Oculta os controles de incremento/decremento do input type="number" */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Oculta os controles de incremento/decremento no Firefox */
/* input[type="number"] {
  -moz-appearance: textfield;
} */
