.containerMarcarConsulta {
    height: 85vh;
    background-image: linear-gradient(to bottom, #3498db7c, #ffffff8d), url('../../public/img/imagem02.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 34px;
    padding: 14px;
}

.linkCancelarConsulta {
    position: absolute;
    right: 18px;
    top: 120px;
}

.linkCancelarConsulta a {
    background-color: #fff;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid red;
    color: red;
    transition: .8s;
}

.linkCancelarConsulta a:hover {
    text-decoration: underline;
    background-color: rgba(255, 0, 0, 0.373);
    color: #fff;
}

@media (max-width: 786px) {
    .containerMarcarConsulta {
        height: 100vh;
    }
}
